<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
</head>
<body>
    <h1>Edit Employee</h1>
    
    <form method="POST" action="/employee/{{employee.employeeId}}/edit">
        <p>
            <strong>Name:</strong><br>
            <input type="text" name="name" value="{{employee.name}}">
        </p>
        <p>
            <strong>Phone:</strong><br>
            <input type="text" name="phone" value="{{employee.phone}}">
        </p>
        <button type="submit">Save</button>
    </form>
    
    <br>
    <a href="/employee/{{employee.employeeId}}">Cancel</a>
</body>
</html>